<div>
    <div class="modal-header">
        <h3 class="modal-title">{{dialogOptions.title}}</h3>
    </div>
    <div class="modal-body">
        {{dialogOptions.message}}
    </div>
    <div class="modal-footer">
        <button id='confirm-action' class="btn btn-primary" data-ng-click="ok()">{{dialogOptions.confirmedTxt}}</button>
        <button id='cancel-action' class="btn btn-primary" data-ng-show="dialogOptions.isConfirmation" data-ng-click="cancel()">{{dialogOptions.cancelTxt}}</button>
    </div>
</div>