<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modalCenter profileModal">Log in</h4>
      </div>
      <div class="modal-body">
        <p class="black-font center profileModal">Welcome back!</p>
        <form method="POST" action="/login" class="modalCenter">
          <input required type="username" name="user[username]" placeholder="Username">
          <input required type="password" name="user[password]" placeholder="Password">
          <br><input type="submit" value="Login" id="pink-btn" class="white-font">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>&nbsp