<div>
    <div class="modal-header">
        <h3 class="modal-title">New Endpoint</h3>
    </div>
    <div class="modal-body">

        <form name="endpointForm" data-ng-submit="addEndpointVm.submit(endpointForm.$valid)" novalidate>

            <div class="form-group" ng-class="{ 'has-error' : endpointForm.endpointId.$invalid && !endpointForm.endpointId.$pristine }">
                <label for="endpointId">Id: *</label>
                <input type="text" id="endpointId" name="endpointId" class="form-control input-sm" placeholder="id"
                        data-ng-model="addEndpointVm.newEndpoint.id" ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                        required endpoints-duplication>
                <p ng-show="endpointForm.endpointId.$invalid && !endpointForm.endpointId.$pristine" class="help-block">The Id should be a non empty unique value.</p>
            </div>

            <div class="form-group">
                <label for="endpointDesc">Desc:</label>
                <input type="text" id="endpointDesc" name="endpointDesc" class="form-control input-sm" placeholder="description"
                       data-ng-model="addEndpointVm.newEndpoint.desc">
            </div>


            <div class="form-group">
                <label for="endpointType">Endpoint type: *</label>
                <select id="endpointType" class="form-control btn-primary dropdown-toggle btn-sm"
                        data-ng-model="addEndpointVm.newEndpoint.type">
                    <option><a href="#">socket</a></option>
                    <option><a href="#">http</a></option>
                </select>
            </div>

            <div class="form-group" data-ng-show="addEndpointVm.newEndpoint.type == 'socket'">
                <label for="endpointHost">Host:</label>
                <input type="text" id="endpointHost" name="endpointHost" class="form-control input-sm" placeholder="host"
                       data-ng-model="addEndpointVm.newEndpoint.host">
            </div>

            <div class="form-group"  ng-class="{ 'has-error' : endpointForm.endpointPort.$invalid && !endpointForm.endpointPort.$pristine }" data-ng-show="addEndpointVm.newEndpoint.type == 'socket'">
                <label for="endpointPort">Port:</label>
                <input type="number" id="endpointPort" name="endpointPort" class="form-control input-sm" placeholder="port"
                       data-ng-model="addEndpointVm.newEndpoint.port">
                <p ng-show="endpointForm.endpointPort.$invalid && !endpointForm.endpointPort.$pristine" class="help-block">port should be a positive number.</p>
            </div>

            <div class="form-group" data-ng-show="addEndpointVm.newEndpoint.type == 'http'">
                <label for="endpointUrl">Url:</label>
                <input type="text" id="endpointUrl" name="endpointUrl" class="form-control input-sm" placeholder="url"
                       data-ng-model="addEndpointVm.newEndpoint.url">
            </div>

            <div class="form-group" ng-class="{ 'has-error' : endpointForm.timeout.$invalid && !endpointForm.timeout.$pristine }">
                <label for="timeout">Connection timeout (ms):</label>
                <input type="number" id="timeout" name="timeout" class="form-control input-sm" placeholder="timeout"
                       data-ng-model="addEndpointVm.newEndpoint.timeout">
                <p ng-show="endpointForm.timeout.$invalid && !endpointForm.timeout.$pristine" class="help-block">timeout should be a positive number.</p>
            </div>


            <div class="form-group">
                <label for="resolutionStrategy">Resolution strategy:</label>
                <select id="resolutionStrategy" class="form-control btn-primary dropdown-toggle btn-sm"
                        data-ng-model="addEndpointVm.newEndpoint.resolutionStrategy"
                        ng-options="strategy as strategy for strategy in addEndpointVm.resolutionStrategies track by strategy">
                    <option value="">Select a resolution strategy</option>
                </select>
            </div>

            <button type="button" style="width: 100%; margin-bottom: 5px" class="btn btn-sm" data-ng-class="{'btn-primary': addEndpointVm.newEndpoint.active, 'btn-danger': !addEndpointVm.newEndpoint.active}" data-toggle="button" aria-pressed="{{addEndpointVm.newEndpoint.active}}" autocomplete="off"
                    data-ng-model="addEndpointVm.newEndpoint.active" data-ng-click="addEndpointVm.newEndpoint.active = !addEndpointVm.newEndpoint.active">
                {{addEndpointVm.newEndpoint.active ? "Active endpoint" : "Inactive endpoint"}}
            </button>

            <button type="button" style="width: 100%" class="btn btn-sm" data-ng-class="{'btn-primary': addEndpointVm.newEndpoint.notify, 'btn-danger': !addEndpointVm.newEndpoint.notify}" data-toggle="button" aria-pressed="{{addEndpointVm.newEndpoint.notify}}" autocomplete="off"
                    data-ng-model="addEndpointVm.newEndpoint.notify" data-ng-click="addEndpointVm.newEndpoint.notify = !addEndpointVm.newEndpoint.notify">
                {{addEndpointVm.newEndpoint.notify ? "Notification enabled" : "Notification disabled"}}
            </button>


            <div class="modal-footer">
                <button id="submit-endpoint" style="width: auto" class="btn btn-primary" type="submit" data-ng-disabled="endpointForm.$invalid">OK</button>
                <button id="cancel-endpoint" class="btn btn-primary" type="button" data-ng-click="addEndpointVm.cancel()">CANCEL</button>
            </div>
        </form>


    </div>

</div>