<div>

    <div class="modal-header">
        <h3 class="modal-title">History</h3>
    </div>

    <div class="modal-body">

        <div class="container" style="width: 600px">

            <div class="row">

            <div style="font-weight: bold" class="col-sm-4 col-xs-12">
                    <div class="row">
                        <div style="padding-top: 4px" class="col-sm-4">
                            From:
                        </div>
                        <div class="col-sm-8 input-group">
                            <input type="text" style="color: #008000" class="form-control input-sm" datepicker-popup="{{format}}" data-ng-model="fromDate" data-is-open="fromDatepickerOpened" data-datepicker-options="dateOptions" data-ng-required="true" data-close-text="Close" data-ng-change="historyController.onFromDateChange($event)"/>
                                <span class="input-group-btn calendar">
                                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.openFromDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </div>

                    </div>
                    <div class="row">
                        <div style="padding-top: 4px" class="col-sm-4">
                            To:
                        </div>
                        <div class="col-sm-8 input-group">
                            <input type="text" style="color: darkred" class="form-control input-sm" datepicker-popup="{{format}}" data-ng-model="toDate" data-is-open="toDatepickerOpened" data-datepicker-options="dateOptions" ng-required="true" data-close-text="Close" data-ng-change="historyController.onToDateChange($event)"/>
                                <span class="input-group-btn calendar">
                                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.openToDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </div>

                    </div>
                </div>

                <div style="padding-top: 14px" class="col-sm-4 col-xs-12">
                    <div class="row">
                        <div style="padding-top: 4px" class="col-sm-3">
                            <label>Step:</label>
                        </div>

                        <div class="col-sm-9">
                            <select id="timeStep" style="padding-bottom: 7px" class="form-control btn-primary dropdown-toggle input-sm"
                                    data-ng-model="timeStep" data-ng-change="historyController.onTimeStepChanged()"
                                    data-ng-options="step.id as step.desc for step in timeSteps">
                                <!--<option value="">Step</option>-->
                            </select>
                        </div>
                    </div>
                </div>

                <div style="padding-top: 14px" class="col-sm-4  col-xs-12">
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.historyBackward($event)" data-tooltip="backward" data-tooltip-placement="bottom"><i class="glyphicon glyphicon-backward"></i></button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.historyForward($event)" data-tooltip="forward" data-tooltip-placement="bottom"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.jumpToSelectedRange($event)" data-tooltip="jump" data-tooltip-placement="bottom"><i class="glyphicon glyphicon-screenshot"></i></button>
                    <button type="button" class="btn btn-sm btn-primary" data-ng-click="historyController.resetTimeRange()" data-tooltip="reset" data-tooltip-placement="bottom"><i class="glyphicon glyphicon-retweet"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="history-chart-container" data-highcharts="chartOptions"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-lg btn-primary" data-ng-click="historyController.close()">OK</button>
    </div>
</div>