h1 {
  font-size: 90px;
  color: white;
  text-align: left;
  font-family: "Raleway";
}
body {
  font-family:"Raleway";
  background-color: #F64747;
}
form {
	color: black;
	font-size: 30px;
}
input {
   margin-top: 19px;
}
p {
  color: white;
  font-size: 32px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}
li {
  font-size: 35px;
}
.navbar-brand {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
  font-size: 32px;
  color: black;
  font-family: "Raleway";
  padding-left: 40px;
}
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
  font-size: 32px;
  color: black;
  font-family: "Raleway";
  padding-right: 40px;
}
.pink {
  color: #F64747;
}
.answer-style{
  font-size: 15px;
}
.white-font {
  color: white;
}
.pink {
  color: #F64747;
}
.black-font {
  color: black;
}
.center {
  text-align: center;
}
.modalCenter {
  text-align: center;
}
#pink-btn {
  background-color:#F64747;
}
#formHidden{
  display: none;
  font-size: 15px;
}