<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/console.css" rel="stylesheet">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    </head>
    <body data-ng-controller="EndpointActionsController as actions">

        <div class="container" data-ng-controller="MenuController as menu">
            <table class="table table-striped">
                <tr>
                    <td style="text-align: left">
                        <div data-ng-cloak data-ng-class="{'connected' : (consoleStatus == 'connected'), 'disconnected' : (consoleStatus != 'connected')}"
                             class="glyphicon glyphicon-eye-open logo" tooltip="{{consoleMessage}}" data-tooltip-placement="bottom">Watcher.js</div>
                    </td>
                    <td style="text-align: right">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                Menu <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id='add-endpoint' data-ng-click="menu.addEndpoint()">Add Endpoint</a></li>
                                <li class="divider"></li>
                                <li><a id='show-settings' data-ng-click="menu.showSettings()">Settings</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <div class="container">
            <!--<button id="add-endpoint" type="button" class="btn btn-primary">Add endpoint</button>-->
            <!--<button id="update-settings" type="button" class="btn btn-primary">Settings</button>-->
            <table id="endpoints-table" class="table table-hover table-striped">
                <thead class="info">
                    <tr class="bg-primary">
                        <th>Id</th>
                        <th>Description</th>
                        <th>Timestamp</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="endpoints-table-content">
                    <tr data-ng-cloak ng-repeat="endpoint in endpoints | orderBy:'id'" ng-class="{'active': endpoint.active, 'danger': (endpoint.status == 'down' || endpoint.status == 'unreachable'), 'warning': (endpoint.status == 'undetermined'), 'success': (endpoint.status == 'up')}">
                    <!--<tr ng-repeat="endpoint in endpoints">-->
                        <td data-ng-click="actions.showEndpointInfo(endpoint)">{{endpoint.id}}</td>
                        <td>{{endpoint.desc}}</td>
                        <!-- https://docs.angularjs.org/api/ng/filter/date -->
                        <td>{{endpoint.timestamp | date:'MMMM d, y HH:mm:ss'}}</td>
                        <td>{{endpoint.since}}</td>
                        <td>
                            <div data-ng-class="{'glyphicon glyphicon-thumbs-up status-ok': (endpoint.status == 'up'), 'glyphicon glyphicon-thumbs-down status-err': (endpoint.status == 'down'), 'glyphicon glyphicon-question-sign status-undef': (endpoint.status == 'undetermined'), 'glyphicon glyphicon-arrow-down  status-err': (endpoint.status == 'unreachable')}"
                                 tooltip="{{(endpoint.status == 'up') ? 'up' : ((endpoint.status == 'undetermined') ? 'undetermined' : ((endpoint.status == 'down') ? 'down' : 'unreachable'))}}">
                            </div>
                        </td>
                        <td>
                            <div ng-class="{'glyphicon glyphicon-eye-close action-disable': !endpoint.active, 'glyphicon glyphicon-eye-open action-enable': endpoint.active}"
                                 data-ng-click="actions.toggleActivation(endpoint)" tooltip="{{endpoint.active ? 'Deactivate endpoint' : 'Activate endpoint'}}">
                            </div>
                            <div ng-class="{'glyphicon glyphicon-envelope action-disable': !endpoint.notify, 'glyphicon glyphicon-envelope action-enable': endpoint.notify}"
                                 data-ng-click="actions.toggleNotification(endpoint)" tooltip="{{endpoint.notify ? 'Disable notification' : 'Enable notification'}}">
                            </div>
                            <div class="glyphicon glyphicon-remove action-delete"
                                 data-ng-click="actions.deleteEndpoint(endpoint)" tooltip="Delete endpoint">
                            </div>
                            <div class="glyphicon glyphicon-stats action-history"
                                 data-ng-click="actions.showEndpointHistory(endpoint)" tooltip="Show history">
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-primary">
                        <td data-ng-cloak colspan="6">
                            <button class="btn btn-primary" data-ng-click="isCollapsed = !isCollapsed">Summary</button>
                        </td>
                    </tr>
                    <tr collapse="isCollapsed">
                        <td data-ng-cloak colspan="6" style="margin: 0; padding: 0">
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td>Healthy endpoints</td>
                                        <td>{{endpointsStats.ups}}</td>
                                    </tr>
                                    <tr>
                                        <td>Erroneous endpoints</td>
                                        <td>{{endpointsStats.errs}}</td>
                                    </tr>
                                    <tr>
                                        <td>Undetermined endpoints</td>
                                        <td>{{endpointsStats.undets}}</td>
                                    </tr>
                                    <tr>
                                        <td>Healthy endpoints ratio</td>
                                        <td style="color:#008000; font-weight: bold;">{{endpointsStats.upRatio}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Erroneous endpoints ratio</td>
                                        <td style="color:red; font-weight: bold;">{{endpointsStats.errRatio}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Total endpoints</td>
                                        <td>{{endpointsStats.total}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!--<script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>-->
        <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
        <!-- require.js: 2.1.19-->
        <script src="/js/lib/require.min.js" data-main="/js/require.config.js"></script>
    </body>
</html>